name: build-verify
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - '*.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - '*.md'
permissions: read-all

env:
  GOLANGCI_LINT_VERSION: v1.62.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
      with:
        go-version-file: ./go.mod
        cache-dependency-path: ./go.sum

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: "${{ env.GOLANGCI_LINT_VERSION }}"

    - name: Build
      run: make build

    - name: Test
      run: make test
