name: build-verify
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - '*.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - '*.md'
permissions: read-all

env:
  GOLANGCI_LINT_VERSION: v1.62.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a #v5.2.0
      with:
        go-version-file: ./go.mod
        cache-dependency-path: ./go.sum

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: "${{ env.GOLANGCI_LINT_VERSION }}"

    - name: Build
      run: make build

    - name: Test
      run: make test
